//- Icons
link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")

link(rel="stylesheet" type="text/css" href="/css/app.css")
link(rel="stylesheet" type="text/css" href="/css/navbar.css")
link(rel="stylesheet" type="text/css" href="/css/style.css")  